#=========================================================================
# Git Ignore Files
#=========================================================================
# We explicitly ignore the site directory where the static HTML files are
# built.

.\#*
site/
.DS_Store
*~
.lock*
*.swp

